:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;


}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    font-family: "krub", Arial, Helvetica, sans-serif;
}

.titulo span {
    font-size: 1.8rem;
}

.navegacion {
    background-color: aqua;
    padding: 1.5rem;
    margin: 0;
}