:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    font-family: "krub", Arial, Helvetica, sans-serif;
}

.titulo span {
    font-size: 1.8rem;
}

.contenedor {
    width: 100rem;
    margin: 0 auto;
}

.bg-navegacion {
    background-color: var(--secundario);
}

.navegacion-principal{
    display: flex;
    justify-content: space-between;
}

.navegacion-principal a {
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-family: "krub";
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}   